# Generated/downloaded model files (auto-created by sai_setupEmotionModel)
emotion-ferplus-8.onnx
emotion_net.mat

# MATLAB Drive metadata
.MATLABDriveTag

# MATLAB Drive conflict copies
*-MATHWORKS-*.m

# MATLAB temporary files
*.asv
*.autosave
